@import "tailwindcss";

@font-face {
  font-family: Vazir;
  src: url("/fonts/Vazir.ttf");
}

:root {
  --background: ##f7f7f7;
  --foreground: #1e1e1e;
  --primary: #004c97;
  --card-bg: #ffffff;
  --highlight: #2196f3;
  --borders: #cfd8dc;
  --warn: #ffb74d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-borders: var(--borders);
  --color-card-bg: var(--card-bg);
  --color-highlight: var(--highlight);
  --font-vazir: Vazir;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Vazir, Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #004c97;
  border-radius: 100px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #004c97 transparent;
}
